# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,py,php,elm,html,css,scss}]
indent_style = space
indent_size = 4

[*.{yml,js,jsx,ts,tsx,re}]
indent_style = space
indent_size = 2

[*.md]
indent_size = 4
indent_style = space
trim_trailing_whitespace = false

[*.snippets]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4
