[user]
	name = Felipe Apostol
	email = flipjs.io@gmail.com
[core]
	editor = vim
[commit]
	verbose = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
