# Mac
.DS_Store

# Win
Thumbs.db
ehthumbs.db

#IntelliJ
.idea

#yeoman
# node_modules
node_modules
build
dist
tmp

#bower_components
bower_components

### Node ###
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# cli
tags
tags.lock
tags.temp
.tern-project

.bin/steam

# python
*.pyc
*.pyo
__init__.py
